{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 h1 text-center">
                Publications récentes
            </div>
            <div class="col-md-2"></div>
        </div>
        <hr class="divider"></hr>
        <div class="row mt-2">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h4>Titre du Sujet</h4>
                    </div>
                    <div class="card-body text-right">
                        <a href="#" class="btn btn-outline-primary">En savoir plus...</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock %}