{% extends "base.html.twig" %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 h1 text-center">
                Publications récentes
            </div>
            <div class="col-md-2"></div>
        </div>
        <hr class="divider"></hr>
        <div class="row mt-2">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <div class="container">
                            <div class="row">
                                <div class="col-10">
                                    Auteur
                                </div>
                                <div class="col-2 text-right">
                                    09/12/2020
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-10">
                                    
                                </div>
                                <div class="col-2 text-right">
                                    Culture
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Titre de la publication</h5>
                        <p class="card-text">Début du contenu</p>
                        <a href="#" class="btn btn-primary">En savoir plus.</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row mt-2">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <div class="container">
                            <div class="row">
                                <div class="col-10">
                                    Auteur
                                </div>
                                <div class="col-2 text-right">
                                    09/12/2020
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-10">
                                    
                                </div>
                                <div class="col-2 text-right">
                                    Culture
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Titre de la publication</h5>
                        <p class="card-text">Début du contenu</p>
                        <a href="#" class="btn btn-primary">En savoir plus.</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row mt-2">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <div class="container">
                            <div class="row">
                                <div class="col-10">
                                    Auteur
                                </div>
                                <div class="col-2 text-right">
                                    09/12/2020
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-10">
                                    
                                </div>
                                <div class="col-2 text-right">
                                    Culture
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Titre de la publication</h5>
                        <p class="card-text">Début du contenu</p>
                        <a href="#" class="btn btn-primary">En savoir plus.</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock %}